.frameCard {
  border: 1px solid rgba(212, 219, 217, .5);
  width: 1132px;
  height: 1029px;
  padding: 20px 50px 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.frameWrapp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}



